# Git
.git
.gitignore

# Environment files
.env
.env.*
!.env.example

# Binaries and build outputs
out/
server
*.exe
*.exe.manifest
*.dll
*.so
*.dylib
*.test
*.out

# Logs and temp files
*.log
tmp/

# OS and Editor metadata
.DS_Store
Thumbs.db
.vscode
.idea
*.swp
*.swo