PDFNEST_PYTHON="./venv/bin/python"

APP_ENV=development

ADMIN_EMAIL="gimeshaadikari23@gmail.com"
ADMIN_Password="1234"

DATABASE_URL="postgres://postgres:2021@localhost:5432/pdfnest?sslmode=disable"
JWT_SECRET="example"
GOOGLE_CLIENT_ID="238327273003-example.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET=GOCSPX-example


RESEND_API_KEY=re_example
FROM_EMAIL=PDFNest <onboarding@resend.dev>
FRONTEND_URL=http://localhost:3000
PDFNEST_WORKER_URL=http://0.0.0.0:8000
ALLOWED_ORIGINS=http://localhost:3000


PADDLE_API_KEY=example
PADDLE_WEBHOOK_SECRET=example+cfQNjtdlvfcg/gKrAHUy1ic0CfGTt

PADDLE_PRICE_PLUS_MONTHLY=pri_01kxg33j9t57cf6kanxtyq5dhe
PADDLE_PRICE_PLUS_YEARLY=pri_01kxg34mskm92jwzqcf1sfngz0
PADDLE_PRICE_PRO_MONTHLY=pri_01kxg2sqywj6a76y09zkbkwt55
PADDLE_PRICE_PRO_YEARLY=pri_01kxg2yas97gcsgyfmz9a88s0p

PADDLE_PRICE_CREDITS_10=pri_01kxggdm6690vza24j2ystbcsg
PADDLE_PRICE_CREDITS_20=pri_01kxggezdzj6gqm1ch15jb4kwr
PADDLE_PRICE_CREDITS_50=pri_01kxghz26vzhhb7ypvr95z39x3
PADDLE_PRICE_CREDITS_100=pri_01kxgj2dm1xa8jxy9qa3x0dxhd
PADDLE_PRICE_CREDITS_200=pri_01kxgj3kf45n3by33h01gnz6fm
PADDLE_PRICE_CREDITS_500=pri_01kxgj58xc72039j7ry6prt64n

PADDLE_API_BASE_URL=https://sandbox-api.paddle.com
PADDLE_CHECKOUT_CREATE_PATH=/checkouts


R2_BUCKET=
TOKEN_VALUE=
R2_ACCESS_KEY=
R2_SECRET_KEY=
R2_ENDPOINT=
